.CommentContainer {
    background: #3A3A3C;
    display: grid;
    width: 70%;
    margin: 3% 15% 0 15%;
    grid-template-columns: 1fr;
    justify-self: center;
}

.innerBlueBoxContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.blueBox {
    min-height: 100vh;
    width: 95%;
    justify-self: center;
    background: #D8EFF0;
}

h2 {
    color: black;
}