.show {
    text-align: center;
    min-height: 100vh;
    background-color: #F1666C;
}

.AppHeader {
    padding-top: 50px;
}

.LogoHeader {
    width: 65%;
    padding-top: 100px;
    pointer-events: none;
}

.show h1 {
    color: black;
}

/* Form Style */



input[type=text] {
    padding:10px;
    margin:10px;
}

.name1, .title1 {
    width: 45.25%;
}

textarea.comment1 {
    padding:10px;
    margin:10px;
    width: 93%;
    height: 20vh;
}

.input.comment1::placeholder {
    text-align: left;
}

*, *:before, *:after {
    box-sizing: border-box;
}